.env
.env.*
!.env.example

.git
.gitignore

node_modules
vendor

storage/logs/*
!storage/logs/.gitignore
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

tests
.phpunit.cache
.phpunit.result.cache

docker-compose*.yml
alumni-stack.yml
.dockerignore

.idea
.vscode
.DS_Store
*.log
